<!--#TODO color the textrare grabber maybe with a background arrow -->
{{#section 'head'}}
<link href="vendor/css/jquery-ui/jquery-ui.css" rel="stylesheet">
<style>
.overflow{
    height:15em;
}
#selectmenu-button{
    width:100%;
}
/*##TODO include a class for this in custom.scss of bootstrap see where this is coming from!*/

#selectmenu-button:focus,#textarea:focus{
    border-color: #80bdff !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
#textarea:focus{
    border:solid  #80bdff 1px !important;
    width:calc(100% + 11px) !important;
    margin: -1px 0 -1px -11px;
}
#textarea{
    margin-left:-10px;
    width:calc(100% + 10px) !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
</style>
{{/section}}


<img class="w-100" src="img/Bild.png">

{{#section 'sidebar'}}
{{#with language}}
<div class="align-self-center col">
    <h3 class="mx-auto text-center my-4">{{{title}}}</h3>
    <form>
        <div class="form-group">
            <label for="textarea">{{textarea-label}}</label>
            <textarea class="form-control border-0"
                      rows="11"
                      id="textarea" placeholder="{{textarea-placeholder}}" required></textarea>
        </div>
        <div class="form-group">
            <div class="form-row">
                <img src="svg/dummy.svg" class="img-thumbnail mx-auto mb-3 w-75 h-25 d-block" style="" alt="">
                <button id="upload-picture" type="button" class="btn btn-light d-block mx-auto w-75">Bild hochladen</button>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <input type="number" min="1" max="31" class="form-control" placeholder="Tag">
                </div>
                <div class="col" id="dropdown">
                    <select class="" id="selectmenu">
                        <option disabled selected>{{date.month.placeholder}}</option>
                        {{#each date.month.names}}
                        <option value="{{@index}}">{{this}}</option>
                        {{!##TODO write a helper that starts at 1 not a 0 like @index}}
                        {{/each}}
                    </select>
                </div>
                <div class="col">
                    <input type="number" min="{{../year.min}}" max="{{../year.max}}" class="form-control" placeholder="{{date.year.placeholder}}">
                </div>
            </div>
            <label class="mt-1" for="">{{date.label}}</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{duration-of-trip.placeholder}}">
            <small class="form-text">{{duration-of-trip.label}}</small>
        </div>
    </form>

    <div id="saveRoadtrip" class="btn-hover-behaviour border-top border-bottom row">
        <a href="#">
            <div class="col align-self-center">
                <h3 class="mx-auto text-center my-5">{{save-roadtrip}}</h3>
            </div>
        </a>
    </div>
</div>
{{/with}}
{{/section}}

{{#section 'jQuery'}}
<script src="vendor/js/jquery-ui.js"></script>
<script>
    var textarea = document.getElementById('textarea');
    textarea.select();
    /*make the text coloring consistent in the input elements*/
    var selel =$( "#selectmenu" );
    var defval = selel.selectmenu({width:false,
        //makes the dropdown follow the scrolling motion of the inner block
        appendTo:"#dropdown",
        //changes the textcolor of the month-dropdown to white when another value then the defaul one is selected
        change:function(){
            var actval = selel.val();
            if(actval !== defval)
                $("#selectmenu-button").css("color","white");
        }
    }).selectmenu( "menuWidget" ).addClass( "overflow" ).val(); // in this line of code we get the defualt value of the select menu. Notice that selectmenu(..) returns $("#selectmenu").
    //##TODO das untere ende des dropdown menus muesste immer 2em vom untern Bildschirmrand entfernt sein. Auch bei groeseren Bildschirmen als meinem!
</script>
{{/section}}
